#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Horde Warrior
    name= _ "Warrior"
    race=orc
    gender=male
    image="units/orcs/grunt.png"
    hitpoints=45
    [resistances]
        pierce=90 
    [/resistances]
    movement_type=orcishfoot
    movement=5
    experience=40
    level=1
    alignment=chaptic
    advances_to=Mordak Horde Warrior
    cost=20
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:ORC_DIE}

    {DEFENSE_ANIM "units/orcs/grunt.png" "units/orcs/grunt.png" {SOUND_LIST:ORC_HIT}}

    [attack]
        name=hammer
        #textdomain wesnoth-units 
        description=_"hammer"
        icon=attacks/hammer-troll.png
        type=impact
        range=melee
        damage=11
        number=2
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=hook
        #textdomain wesnoth-units 
        description=_"hook"
        icon=attacks/scarab-horn.png
        type=pierce
        range=melee
        damage=6
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]

    {MELEE_ANIM "hammer" mace.ogg {SOUND_LIST:MISS}}
    {MELEE_ANIM "hook" mace.ogg {SOUND_LIST:MISS}}
[/unit_type]
