#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Horde Hordeman
    name= _ "Hordeman"
    race=goblin
    gender=male
    image="units/goblins/impaler.png"
    hitpoints=26
    movement_type=orcishfoot
    movement=5
    experience=24
    level=1
    alignment=chaptic
    advances_to=Mordak Horde Hordeman
    cost=10
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:GOBLIN_DIE}

    {DEFENSE_ANIM "units/goblins/impaler.png" "units/goblins/impaler.png" {SOUND_LIST:GOBLIN_HIT}}

    [attack]
        name=cleaver
        #textdomain wesnoth-units 
        description=_"cleaver"
        icon=attacks/cleaver.png
        type=blade
        range=melee
        damage=7
        number=2
    [/attack]

    {MELEE_ANIM "cleaver" axe.ogg {SOUND_LIST:MISS}}
[/unit_type]
