#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Horde Pillager
    name= _ "Pillager"
    race=wolf
    gender=male
    image="units/goblins/pillager.png"
    hitpoints=29
    movement_type=orcishfoot
    movement=8
    experience=29
    level=1
    alignment=chaptic
    advances_to=Mordak Horde Pillager
    cost=14
    usage=scout
    description= _ ""
    die_sound={SOUND_LIST:WOLF_DIE}

    {DEFENSE_ANIM "units/goblins/pillager.png" "units/goblins/pillager.png" {SOUND_LIST:WOLF_HIT}}

    [attack]
        name=torch
        #textdomain wesnoth-units 
        description=_"torch"
        icon=attacks/torch.png
        type=fire
        range=melee
        damage=5
        number=3
    [/attack]

    {MELEE_ANIM "torch" torch.ogg {SOUND_LIST:MISS}}
[/unit_type]
