#ifdef MULTIPLAYER
[binary_path]
    path=data/add-ons/Age_of_Mordak
[/binary_path]

[era]
    id=Age_of_Mordak
    name= _ "Age of Mordak"
    description=_ "Age of Mordak"
    require_era=yes
    {./eras/factions/knights.cfg}
    {ERA_DEFAULT}
    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
[/era]

[units]
    {./units/knights/}
[/units]
#endif
