#ifdef MULTIPLAYER
[binary_path]
    path=data/add-ons/Age_of_Mordak
[/binary_path]

[era]
    id=Age_of_Mordak
    name= _ "Age of Mordak"
    description=_ "Age of Mordak"
    require_era=yes
    {RANDOM_SIDE}
    {./eras/factions/loyalists-default.cfg}
    {./eras/factions/rebels-default.cfg}
    {./eras/factions/northerners-default.cfg}
    {./eras/factions/undead-default.cfg}
    {./eras/factions/knalgans-default.cfg}
    {./eras/factions/drakes-default.cfg}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
[/era]

[units]
    #{./units}
[/units]
#endif
