#define MORDAK_GENERAL_EVENTS
[event]
name=side turn 
id=mordak_hardworking_trait 
first_time_only=no 

    [remove_object]
        side=$side_number 
        trait=hardworking
        object_id=hardworking_obj 
        [filter_location]
            [not]
                terrain=*^V* 
            [/not]
        [/filter_location]
    [/remove_object]

    [store_unit]
        [filter]
            side=$side_number 
            trait=mordak_hardworking
            [filter_location]
                terrain=*^V* 
            [/filter_location]
        [/filter]
        variable=hardworkers 
        kill=no 
    [/store_unit]

    [foreach]
        array=hardworkers 
        index_var=i 

        [do]
            [object]
                id=hardworking_obj
                duration=forever
                [filter]
                    id=$this_item.id
                [/filter]
                [effect]
                    apply_to=loyal 
                [/effect]
                [effect]
                    apply_to=overlay
                    add=misc/loyal-icon.png
                [/effect]
            [/object]
        [/do]
    [/foreach]
    #{CLEAR_VARIABLE hardworkers}
[/event]
#enddef
