#define MORDAK_GENERAL_EVENTS
[event]
name=side turn end 
id=mordak_hardworking_trait 
first_time_only=no 

    [store_unit]
        [filter]
            side=$side_number 
            trait=mordak_hardworking
            [filter_location]
                terrain=*^V* 
            [/filter_location]
        [/filter]
        variable=hardworkers 
        kill=no 
    [/store_unit]

    [foreach]
        array=hardworkers 
        index_var=i 

        [do]
            [object]
                duration=turn 
                [filter]
                    find_in=this_item 
                [/filter]
                [effect]
                    apply_to=loyal 
                [/effect]
            [/object]
        [/do]
    [/foreach]
    #{CLEAR_VARIABLE hardworkers}
[/event]
#enddef
