#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Dark Rider2
    name= _ "Veteran Rider"
    race=human
    gender=male
    image="units/sorcerers/dark_rider2.png"
    hitpoints=46
    movement_type=mounted
    movement=8
    [defense]
        village=50 
    [/defense]
    experience=80
    level=2
    [abilities]
        {ABILITY_CONCEALMENT}
    [/abilities]
    alignment=chaotic
    advances_to=Mordak Dark Rider3
    cost=26
    usage=scout
    description= _ ""
    die_sound=horse-die.ogg

    {DEFENSE_ANIM "units/sorcerers/dark_rider2.png" "units/sorcerers/dark_rider2.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=sword
        #textdomain wesnoth-units 
        description=_ "sword"
        icon=attacks/sword-orcish.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
[/unit_type]
