#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Sorcerer
    #textdomain wesnoth-units
    name= _ "Dark Sorcerer"
    race=human
    gender=male
    image="units/sorcerers/sorcerer.png"
    hitpoints=33
    movement_type=smallfoot
    [defense]
        flat=50 
        hills=40 
        forest=40 
        reef=60 
        mountains=30 
        village=30 
        castle=30 
        cave=60 
        mushrooms=50 
        swamp_water=70 
        shallow_water=70 
    [/defense]
    [abilities]
        {ABILITY_MORDAK_MOCKERY}
    [/abilities]
    movement=5
    experience=38
    level=1
    alignment=chaotic
    advances_to=Mordak Sorcerer2
    cost=17
    usage=mixed fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/sorcerers/sorcerer.png" "units/sorcerers/sorcerer.png" {SOUND_LIST:HUMAN_HIT}}

    [attack]
        name=sword
        #textdomain wesnoth-units 
        description=_"short sword"
        icon=attacks/sword-shot.png
        type=blade
        range=melee
        damage=3
        number=3
    [/attack]
    [attack]
        name=capture of the soul
        description=_"capture of the soul"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=7
        number=3
        icon=attacks/dark-missile.png
    [/attack]
    [attack]
        name=desperate
        description=_"desperate"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MORDAK_DESPERATE_STRIKE}
        [/specials]
        range=ranged
        damage=10
        number=0
        icon=attacks/dark-missile.png
    [/attack]
[/unit_type]
