#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Dark Rider
    name= _ "Dark Rider"
    race=human
    gender=male
    image="units/sorcerers/dark_rider.png"
    hitpoints=34
    movement_type=mounted
    movement=8
    [defense]
        village=50 
    [/defense]
    experience=40
    level=1
    [abilities]
        {ABILITY_CONCEALMENT}
    [/abilities]
    alignment=chaotic
    advances_to=Mordak Dark Rider2
    cost=16
    description= _ ""
    die_sound=horse-die.ogg
    usage=scout

    {DEFENSE_ANIM "units/sorcerers/dark_rider.png" "units/sorcerers/dark_rider.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=dagger
        #textdomain wesnoth-units 
        description=_ "dagger"
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
[/unit_type]
