#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Sorcerer3
    #textdomain wesnoth-units
    name= _ "Necromancer"
    race=human
    gender=male
    image="units/sorcerers/sorcerer3.png"
    hitpoints=65
    movement_type=smallfoot
    [defense]
        flat=50 
        hills=40 
        forest=40 
        reef=60 
        mountains=30 
        village=30 
        castle=30 
        cave=60 
        mushrooms=50 
        swamp_water=70 
        shallow_water=70 
    [/defense]
    movement=5
    experience=150 
    level=3
    alignment=chaotic
    advances_to=null 
    {AMLA_DEFAULT}
    cost=49
    usage=mixed fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/sorcerers/sorcerer3.png" "units/sorcerers/sorcerer3.png" {SOUND_LIST:HUMAN_HIT}}

    [attack]
        name=grave blade
        #textdomain wesnoth-units 
        description=_ "grave blade"
        icon=attacks/baneblade.png
        type=blade
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            [damage_type]
                id=mordak_elemental_cold
                name=_"elemental"
                description=_"This attack deals cold damage if the target is more vulnerable to cold."
                alternative_type=cold
            [/damage_type]
        [/specials]
    [/attack]
    [attack]
        name=soul storm
        description=_"soul storm"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=11
        number=4
        icon=attacks/dark-missile.png
    [/attack]
[/unit_type]
