#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Dark Rider3
    #textdomain wesnoth-units
    name= _ "Death Knight"
    race=human
    gender=male
    image="units/sorcerers/dark_rider3.png"
    hitpoints=64
    movement_type=mounted
    movement=8
    [defense]
        village=50 
    [/defense]
    experience=150
    level=3
    [abilities]
        {ABILITY_CONCEALMENT}
    [/abilities]
    alignment=chaotic
    advances_to=null 
    {AMLA_DEFAULT}
    cost=50
    usage=scout
    description= _ ""
    die_sound=horse-die.ogg

    {DEFENSE_ANIM "units/sorcerers/dark_rider3.png" "units/sorcerers/dark_rider3.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=grave blade
        #textdomain wesnoth-units 
        description=_ "grave blade"
        icon=attacks/baneblade.png
        type=blade
        range=melee
        damage=8
        number=4 
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            [damage_type]
                id=mordak_elemental_cold
                name=_"elemental"
                description=_"This attack deals cold damage if the target is more vulnerable to cold."
                alternative_type=cold
            [/damage_type]
        [/specials]
    [/attack]
[/unit_type]
