#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Ghoul2
    #textdomain wesnoth-units
    name= _ "Ghast"
    race=undead
    gender=male
    image="units/sorcerers/ghoul2.png"
    hitpoints=35
    movement_type=undeadfoot
    [resistance]
        blade=110
    [/resistance]
    [abilities]
        {ABILITY_FEEDING}
    [/abilities]
    movement=5
    experience=50
    level=1
    alignment=chaotic
    advances_to=null 
    {AMLA_DEFAULT}
    cost=18
    usage=fighter
    description= _ ""
    die_sound=ghoul-hit.wav

    {DEFENSE_ANIM "units/sorcerers/ghoul2.png" "units/sorcerers/ghoul2.png" ghoul-hit.wav}

    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws-undead.png
        type=pierce
        range=melee
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
[/unit_type]
