#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Skeleton3
    #textdomain wesnoth-units
    name= _ "Draug"
    race=undead
    gender=male
    image="units/sorcerers/skeleton3.png"
    hitpoints=78
    movement_type=undeadfoot
    [resistance]
        impact=100 
        pierce=50
    [/resistance]
    movement=5
    experience=150
    level=3
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    alignment=chaotic
    advances_to=Mordak Skeleton3
    cost=25
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:SKELETON_DIE}

    {DEFENSE_ANIM "units/sorcerers/skeleton3.png" "units/sorcerers/skeleton3.png" {SOUND_LIST:SKELETON_HIT}}

    [attack]
        name=mace
        #textdomain wesnoth-units 
        description=_"mace"
        icon=attacks/mace-spiked2.png
        type=impact
        range=melee
        damage=11
        number=4
        [specials]
            {WEAPON_SPECIAL_STUN}
        [/specials]
    [/attack]
[/unit_type]
