#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Skeleton2
    #textdomain wesnoth-units
    name= _ "Revenant"
    race=undead
    gender=male
    image="units/sorcerers/skeleton2.png"
    hitpoints=50
    movement_type=undeadfoot
    [resistance]
        impact=100
    [/resistance]
    movement=5
    experience=78
    level=2
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    alignment=chaotic
    advances_to=Mordak Skeleton3
    cost=25
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:SKELETON_DIE}

    {DEFENSE_ANIM "units/sorcerers/skeleton2.png" "units/sorcerers/skeleton2.png" {SOUND_LIST:SKELETON_HIT}}

    [attack]
        name=mace
        #textdomain wesnoth-units 
        description=_"mace"
        icon=attacks/mace-spiked2.png
        type=impact
        range=melee
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_STUN}
        [/specials]
    [/attack]
[/unit_type]
