#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=flowers
    name= _"Flowerland"
    image="units/elves-wood/hero.png"
    type=random
    leader=Mordak Flower Fighter2,Mordak Flower Fighter2b
    random_leader=Mordak Flower Fighter2,Mordak Flower Fighter2b
    recruit=Mordak Flower Fighter
[/multiplayer_side]
