#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=horde
    name= _"Horde"
    image="units/orcs/leader.png"
    type=random
    leader=Mordak Horde Warden
    random_leader=Mordak Horde Warden
    recruit=Mordak Horde Warden,Mordak Horde Warrior,Mordak Horde Archer,Mordak Horde Pillager,Mordak Horde Hordeman
[/multiplayer_side]
