#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=knights
    name= _"The Order of Maghre"
    image="units/knights/bannerer.png"
    type=random
    leader=Mordak Order Knight, Mordak Order Standart Bearer, Mordak Order Swordsman, Mordak Order Crossbowman, Mordak Order Battle Wyrm, Mordak Order Thunder Mortar, Mordak Order Hardened Reiter, Mordak Order Hardened Rider
    random_leader=Mordak Order Knight, Mordak Order Standart Bearer, Mordak Order Swordsman, Mordak Order Crossbowman, Mordak Order Battle Wyrm, Mordak Order Thunder Mortar, Mordak Order Hardened Reitar, Mordak Order Hardened Rider
    recruit=Mordak Order Infantryman, Mordak Order Squire, Mordak Order Rider, Mordak Order Reiter, Mordak Order Mortar, Mordak Order Tower Wyrm
[/multiplayer_side]
