#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Free Knights
    name= _"Free Knights"
    image="units/knights/knight3.png"
    type=random
    leader=Mordak Knight2,Mordak Sergeant2, Mordak Reiter2, Mordak Mage2, Mordak Peasant3
    recruit=Mordak Knight,Mordak Sergeant,Mordak Reiter,Mordak Mage, Mordak Peasant
[/multiplayer_side]
