#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=knights
    name= _"The Order of Maghre"
    image="units/knights/knight2.png"
    type=random
    leader=Mordak Knight2,Mordak Sergeant2, Mordak Reiter2, Mordak Peasant Scythe3, Mordak Battle Wyrm
    random_leader=Mordak Knight2,Mordak Sergeant2, Mordak Reiter2, Mordak Peasant Scythe3, Elvish Lord, Mordak Battle Wyrm
    recruit=Mordak Knight,Mordak Sergeant,Mordak Reiter,Mordak Mortar, Mordak Peasant Scythe2, Mordak Tower Wyrm
[/multiplayer_side]
