#textdomain wesnoth-multiplayer
[multiplayer_side]
    id={ERA_16_PREFIX} Loyalists
    name= _"Loyalists"
    image="units/human-loyalists/lieutenant.png"
    type=random
    leader={ERA_16_PREFIX} Lieutenant,{ERA_16_PREFIX} Swordsman,{ERA_16_PREFIX} Pikeman,{ERA_16_PREFIX} Javelineer,{ERA_16_PREFIX} Shock Trooper,{ERA_16_PREFIX} Longbowman,{ERA_16_PREFIX} White Mage,{ERA_16_PREFIX} Red Mage
    random_leader={ERA_16_PREFIX} Lieutenant,{ERA_16_PREFIX} Swordsman,{ERA_16_PREFIX} Pikeman,{ERA_16_PREFIX} Javelineer,{ERA_16_PREFIX} Longbowman,{ERA_16_PREFIX} White Mage,{ERA_16_PREFIX} Red Mage
    recruit={ERA_16_PREFIX} Cavalryman,{ERA_16_PREFIX} Horseman,{ERA_16_PREFIX} Spearman,{ERA_16_PREFIX} Fencer,{ERA_16_PREFIX} Heavy Infantryman,{ERA_16_PREFIX} Bowman,{ERA_16_PREFIX} Mage,{ERA_16_PREFIX} Merman Fighter,{ERA_16_PREFIX} Sergeant
    terrain_liked=Gg, Ww, Wo
    # wmllint: markcheck off
    description="<img>src='portraits/humans/grand-knight.webp~BG()' align='middle'</img>

"+_"The <bold>text='Loyalists'</bold> are a faction of <ref>text='Humans' dst='..race_human'</ref> who are loyal to the throne of Wesnoth. Humans are a versatile race who specialize in many different areas. Similarly, the Loyalist faction is a very versatile melee-oriented faction with important ranged support from bowmen and mages."
    # wmllint: markcheck on
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]
