#textdomain wesnoth-multiplayer
[multiplayer_side]
    id={ERA_16_PREFIX} Northerners
    name= _"Northerners"
    image="units/orcs/warrior.png"
    type=random
    leader={ERA_16_PREFIX} Orcish Warrior,{ERA_16_PREFIX} Troll,{ERA_16_PREFIX} Troll Rocklobber,{ERA_16_PREFIX} Orcish Crossbowman,{ERA_16_PREFIX} Orcish Slayer,{ERA_16_PREFIX} Orcish Ruler2
    recruit={ERA_16_PREFIX} Orcish Grunt,{ERA_16_PREFIX} Troll Whelp,{ERA_16_PREFIX} Wolf Rider,{ERA_16_PREFIX} Orcish Archer,{ERA_16_PREFIX} Orcish Assassin,{ERA_16_PREFIX} Naga Fighter,{ERA_16_PREFIX} Goblin Spearman2,Afterlife Orcish Shamaness2,{ERA_16_PREFIX} Orcish Leader2
    terrain_liked=Hh, Ha, Mm, Ss
    # wmllint: markcheck off
    # extra newline below to fit the wmllint noconvert directive, please don't change this
    description="<img>src='portraits/orcs/warlord.webp~BG()' align='middle'</img>"+# wmllint: noconvert
        "

"+_"The <bold>text='Northerners'</bold> are a faction of <ref>text='Orcs' dst='..race_orc'</ref> and their allies who live in the north of the Great Continent, thus their name. Northerners consist of the warrior orcs race, the enslaved <ref>text='goblins' dst='..race_goblin'</ref>, <ref>text='trolls' dst='..race_troll'</ref> who are tricked into combat by the orcs, and the serpentine <ref>text='naga' dst='..race_naga'</ref>. The Northerners play best by taking advantage of having many low-cost and high HP soldiers."
    # wmllint: markcheck on
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]
