#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Dark Sorcerers
    name= _"Dark Sorcerers"
    image="units/sorcerers/sorcerer2.png"
    type=random
    leader=Mordak Skeleton2,Mordak Sorcerer2
    recruit=Mordak Skeleton,Mordak Sorcerer,Mordak Ghoul,Mordak Dark Rider
[/multiplayer_side]
