#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Order Battle Wyrm
    name= _ "Battle Wyrm"
    race=monster
    num_traits=2 
    {TRAIT_ELEMENTAL}
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    gender=male
    image="units/knights/wyrm2.png"
    hitpoints=41
    movement_type=drakeglide2
    [defense]
        catle=30 
    [/defense]
    movement=6
    experience=80
    level=2
    alignment=lawful
    advances_to=Mordak Order Halfdragon
    cost=30
    usage=scout
    description= _ "A wyrm trained to serve the Order. It is kept within the old towers of Maghre and released when the fortress or army has need of its fiery breath."
    die_sound=hiss-die.wav

    {DEFENSE_ANIM "units/knights/wyrm2.png" "units/knights/wyrm2.png" hiss-hit.wav}
    {FLOAT_STANDING_ANIM}

    [attack]
        name=bite
        #textdomain wesnoth-units 
        description=_"bite"
        icon=attacks/fangs-snake.png
        type=blade
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=fire breath
        description=_"fire breath"
        icon=attacks/fire-breath-drake.png
        type=fire
        range=ranged
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    {MELEE_ANIM "bite" bite.ogg {SOUND_LIST:MISS}}
    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]
        missile_start_time=-300
        [missile_frame]
            halo=projectiles/fire-breath-[1~10].png:[70*10]
            offset=0.0~1.0:300,1.0:350
        [/missile_frame]

        offset=0.0
        start_time=-300
        [frame]
            image="units/knights/wyrm2.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS fire.wav torch.ogg -150}
    [/attack_anim]
[/unit_type]
