#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Crossbowman
    #textdomain wesnoth-units 
    name= _ "Crossbowman"
    #textdomain wesnoth-Mordak
    race=human
    gender=male
    image="units/knights/crossbowman.png"
    hitpoints=50
    movement_type=smallfoot
    movement=5
    experience=100
    level=2
    alignment=lawful
    advances_to=null 
    {AMLA_DEFAULT}
    cost=25
    usage=archer
    description= _ "A reitar who has traded his horse for heavier weapons and armor. His pavise allows him to withstand enemy fire while he reloads his crossbow. Such archers are particularly useful in protracted firefights, where speed is less important than the ability to survive the initial volley."
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/knights/crossbowman.png" "units/knights/crossbowman.png" {SOUND_LIST:HUMAN_HIT}}

    [attack]
        name=sword
        #textdomain wesnoth-units 
        description=_"sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-iron.png
        type=pierce
        range=ranged
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_MORDAK_AMBUSH_SHOOTING}
        [/specials]
    [/attack]

    {MELEE_ANIM sword {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS}}
    {CROSSBOW_ANIM crossbow}
[/unit_type]
