#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Order Hardened Reiter
    name= _ "Hardened Reiter"
    race=human
    gender=male
    image="units/knights/reiter2.png"
    hitpoints=48
    movement_type=mounted
    movement=8
    experience=79
    level=2
    [abilities]
        {ABILITY_MORDAK_CAVALRY}
    [/abilities]
    alignment=lawful
    advances_to=Mordak Order Frontier Warden
    cost=28
    usage=archer
    description= _ "A Reiter long accustomed to the wars along the borders of human lands. He no longer asks whose banner he serves, so long as he is paid and that banner does not serve the darkness. Some eventually enter the Order's service permanently."
    die_sound=horse-die.ogg

    {DEFENSE_ANIM "units/knights/reiter2.png" "units/knights/reiter2.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=sword
        #textdomain wesnoth-units 
        description=_"sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-iron.png
        type=pierce
        range=ranged
        damage=13
        number=2
    [/attack]
    {MELEE_MOUNTED_ANIM "sword" horse-canter.wav {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS}}
    {CROSSBOW_ANIM crossbow}
[/unit_type]
