#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Knight
    #textdomain wesnoth-units 
    name= _ "Squire"
    #textdomain wesnoth-Mordak
    race=human
    gender=male
    image="units/knights/knight.png"
    hitpoints=43
    movement_type=mounted
    [resistance]
        pierce=110
        blade=70 
        impact=60
    [/resistance]
    movement=8
    experience=60
    level=1
    alignment=lawful
    advances_to=Mordak Knight2
    [abilities]
        {ABILITY_MORDAK_CAVALRY}
    [/abilities]
    cost=23
    usage=fighter
    description= _ "A young retainer serving a knight, entrusted with his master's horse, arms, and banner. Squires accompany their lords on campaign and learn the ways of war before earning the right to bear the Order's arms."
    [special_note]
        note= _ "Compared to the other Order's cavalry units, knights have better resistance to ‘blade’ and ‘impact’ attacks and are less vulnerable to ‘pierce’."
    [/special_note]
    die_sound=horse-die.ogg

    {DEFENSE_ANIM "units/knights/knight.png" "units/knights/knight.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=lance
        #textdomain wesnoth-units 
        description=_"lance"
        icon=attacks/lance.png
        type=pierce
        range=melee
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_MORDAK_CAVALRY_WEDGE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=lance
        [/filter_attack]
        start_time=-200
        [frame]
            duration=100
            sound=horse-canter.wav
        [/frame]
        [frame]
            duration=200
            image="units/knights/knight-attack.png"
        [/frame]
        [frame]
            duration=50
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg () -200}
    [/attack_anim]


[/unit_type]
