#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Knight2
    name= _ "Knight"
    race=human
    gender=male
    image="units/knights/knight2.png"
    hitpoints=63
    movement_type=mounted
    [resistance]
        pierce=110
        blade=70 
        impact=60
    [/resistance]
    movement=8
    experience=110
    level=2
    [abilities]
        {ABILITY_MORDAK_CAVALRY}
    [/abilities]
    alignment=lawful
    advances_to=Mordak Knight3
    cost=40
    usage=fighter
    description= _ "Knights are the backbone of the Order, clad in heavy armor and trained to break enemy lines with disciplined cavalry charges. Against the endless hordes of darkness, a single knight is a formidable warrior — but never fights alone."
    die_sound=horse-die.ogg

    {DEFENSE_ANIM "units/knights/knight2.png" "units/knights/knight2.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=lance
        description=_"lance"
        icon=attacks/lance.png
        type=pierce
        range=melee
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_MORDAK_CAVALRY_WEDGE}
        [/specials]
    [/attack]

    {MELEE_MOUNTED_ANIM lance horse-canter.wav spear.ogg spear-miss.ogg}
[/unit_type]
