#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Knight4
    #textdomain wesnoth-units 
    name= _ "Legendary Knight"
    race=human
    gender=male
    image="units/knights/knight4.png"
    hitpoints=90
    movement_type=mounted
    movement=8
    experience=150
    level=4
    alignment=lawful
    advances_to=null 
    {AMLA_DEFAULT}
    cost=60
    usage=fighter
    description= _ ""
    die_sound=horse-die.ogg

    {DEFENSE_ANIM "units/knights/knight4.png" "units/knights/knight4.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=lance
        description=_"lance"
        icon=attacks/lance.png
        type=pierce
        range=melee
        damage=22
        number=2
        [specials]
            {WEAPON_SPECIAL_MORDAK_CAVALRY_WEDGE}
        [/specials]
    [/attack]
[/unit_type]
