#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Knight
    #textdomain wesnoth-units 
    name= _ "Young Knight"
    #textdomain wesnoth-Mordak
    race=human
    gender=male
    image="units/knights/knight.png"
    hitpoints=43
    movement_type=mounted
    movement=8
    experience=60
    level=1
    alignment=lawful
    advances_to=Mordak Knight2
    [abilities]
        {ABILITY_MORDAK_CAVALRY}
        {ABILITY_LIGHT_OATH}
        {ABILITY_HEAL_OATH}
    [/abilities]
    cost=23
    usage=fighter
    description= _ "Young men who survive the fall of kingdoms often enter the Order as squires, serving veteran knights and learning the art of war from the saddle. Few live long enough to earn their spurs, but those who do become the shield of mankind."
    die_sound=horse-die.ogg

    {DEFENSE_ANIM "units/knights/knight.png" "units/knights/knight.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=lance
        #textdomain wesnoth-units 
        description=_"lance"
        icon=attacks/lance.png
        type=pierce
        range=melee
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_MORDAK_CAVALRY_WEDGE}
        [/specials]
    [/attack]
    {MELEE_MOUNTED_ANIM lance horse-canter.wav spear.ogg spear-miss.ogg}
[/unit_type]
