#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Knight2
    name= _ "Knight"
    race=human
    gender=male
    image="units/knights/knight2.png"
    hitpoints=63
    movement_type=mounted
    [resistance]
        pierce=110
        blade=70 
        impact=60
    [/resistance]
    movement=8
    experience=110
    level=2
    [abilities]
        {ABILITY_MORDAK_CAVALRY}
        {ABILITY_LEADERSHIP}
    [/abilities]
    alignment=lawful
    advances_to=Mordak Knight3
    cost=40
    usage=fighter
    description= _ "A heavily armoured rider, formally inducted into the ranks of the Order's knights. In battle, knights form the cavalry wedge, striking in close formation to break the enemy line with a single devastating charge."
    [special_note]
        note= _ "Compared to the other Order's cavalry units, knights have better resistance to ‘blade’ and ‘impact’ attacks and are less vulnerable to ‘pierce’."
    [/special_note]
    die_sound=horse-die.ogg

    {DEFENSE_ANIM "units/knights/knight2.png" "units/knights/knight2.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=lance
        description=_"lance"
        icon=attacks/lance.png
        type=pierce
        range=melee
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_MORDAK_CAVALRY_WEDGE}
        [/specials]
    [/attack]

    {MELEE_MOUNTED_ANIM lance horse-canter.wav spear.ogg spear-miss.ogg}
[/unit_type]
