#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Mortar
    #textdomain wesnoth-units 
    name= _ "Relic Mortar"
    #textdomain wesnoth-Mordak
    race=mechanical
    image="units/knights/mortar.png"
    hitpoints=45
    movement_type=armoredfoot
    [resistance]
        blade,pierce=50 
        impact=80 
        arcane=30 
        fire=110 
        cold=80 
    [/resistance]
    movement=4
    experience=60
    level=1
    alignment=neutral
    advances_to=null
    cost=20
    usage=archer
    description= _ ""
    die_sound=explosion.ogg

    {DEFENSE_ANIM "units/knights/mortar.png" "units/knights/mortar.png" mace.ogg}

    [attack]
        name=mortar
        #textdomain wesnoth-units 
        description=_"mortar"
        icon=attacks/thunderstick.png
        type=impact
        range=ranged
        damage=13
        number=2
    [/attack]

    {CANNON_ANIM mortar thunderstick.ogg thunderstick.ogg explosion.ogg}
[/unit_type]
