#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Order Mortar
    name= _ "Mortar"
    race=mechanical
    image="units/knights/mortar.png"
    hitpoints=40
    movement_type=armoredfoot
    [resistance]
        blade,pierce=50,50 
        impact=80 
        arcane=30 
        fire=110 
        cold=80 
    [/resistance]
    movement=4
    experience=60
    level=1
    alignment=neutral
    advances_to=Mordak Order Thunder Mortar
    cost=20
    usage=archer
    description= _ "An ancient weapon left behind by the age of human prosperity. Few craftsmen still understand its workings, and the old designs have long been lost. Yet the mortar can still send a heavy shell where ordinary weapons cannot reach."
    die_sound=explosion.ogg

    {DEFENSE_ANIM "units/knights/mortar.png" "units/knights/mortar.png" mace.ogg}

    [attack]
        name=mortar
        #textdomain wesnoth-units 
        description=_"mortar"
        icon=attacks/thunderstick.png
        type=impact
        range=ranged
        damage=21
        number=1
        [specials]
            {WEAPON_SPECIAL_MORDAK_SIEGECRAFT}
        [/specials]
    [/attack]

    {CANNON_ANIM_NO_EXPLOSION mortar thunderstick.ogg thunderstick.ogg explosion.ogg}
[/unit_type]
