#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Mortar2
    #textdomain wesnoth-units 
    name= _ "Thunder Mortar"
    #textdomain wesnoth-Mordak
    race=mechanical
    image="units/knights/mortar2.png"
    hitpoints=100
    movement_type=armoredfoot
    [resistance]
        blade,pierce=50,50 
        impact=80 
        arcane=30 
        fire=110 
        cold=80 
    [/resistance]
    movement=4
    experience=150
    level=3
    alignment=neutral
    advances_to=Mordak Mortar3
    cost=60
    usage=archer
    description= _ ""
    die_sound=explosion.ogg

    {DEFENSE_ANIM "units/knights/mortar2.png" "units/knights/mortar2.png" mace.ogg}

    [attack]
        name=mortar
        #textdomain wesnoth-units 
        description=_"mortar"
        icon=attacks/thunderstick.png
        type=impact
        range=ranged
        damage=31
        number=2
    [/attack]

    {CANNON_ANIM mortar thunderstick.ogg thunderstick.ogg explosion.ogg}
[/unit_type]
