#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Mortar3
    #textdomain wesnoth-units 
    name= _ "Lightsmiter"
    #textdomain wesnoth-Mordak
    race=mechanical
    image="units/knights/mortar3.png"
    hitpoints=100
    movement_type=armoredfoot
    [resistance]
        blade,pierce=50,50 
        impact=80 
        arcane=30 
        fire=110 
        cold=80 
    [/resistance]
    movement=4
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=70
    usage=archer
    description= _ "One of the rarest weapons to survive from the age of human prosperity. Its mechanisms can turn sunlight into a devastating force, but only beneath a clear daytime sky. Most craftsmen of the Order no longer understand how such a weapon was made."
    die_sound=explosion.ogg

    {DEFENSE_ANIM "units/knights/mortar3.png" "units/knights/mortar3.png" mace.ogg}

    [standing_anim]
        [filter]
            [filter_location]
                time_of_day=lawful
            [/filter_location]
        [/filter]
        start_time=0
        [frame]
            duration=2310
            image="units/knights/mortar3.png:"
            halo=halo/undead/idle-flash-[1~21].png~CS(250,215,0)
        [/frame]
    [/standing_anim]

    [standing_anim]
        [filter]
            [filter_location]
                [not]
                    time_of_day=lawful
                [/not]
            [/filter_location]
        [/filter]
        start_time=0
        [frame]
            duration=2310
            image="units/knights/mortar3.png:"
        [/frame]
    [/standing_anim]

    [attack]
        name=mortar
        #textdomain wesnoth-units 
        description=_"mortar"
        icon=attacks/thunderstick.png
        type=impact
        range=ranged
        damage=41
        number=1
        [specials]
            {WEAPON_SPECIAL_MORDAK_SIEGECRAFT}
        [/specials]
    [/attack]
    [attack]
        name=sun smite
        #textdomain wesnoth-units 
        description=_"sun smite"
        icon=attacks/lightbeam.png
        type=arcane
        range=ranged
        damage=32
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_MORDAK_SUN_MAGIC}
        [/specials]
    [/attack]

    {CANNON_ANIM mortar dragonstick.ogg dragonstick.ogg explosion.ogg}
    {CANNON_ANIM (sun smite) dragonstick.ogg dragonstick.ogg explosion.ogg}
[/unit_type]
