#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Peasant Club2
    #textdomain wesnoth-units 
    name= _ "Maceman"
    #textdomain wesnoth-Mordak
    race=human
    gender=male
    image="units/knights/peasant-club2.png"
    hitpoints=29
    movement_type=smallfoot
    movement=5
    experience=37
    level=1
    alignment=lawful
    advances_to=Mordak Peasant Club3
    cost=14
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/knights/peasant-club2.png" "units/knights/peasant-club2.png" {SOUND_LIST:HUMAN_HIT}}

    [attack]
        name=mace
        #textdomain wesnoth-units 
        description=_"mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=9
        number=2
    [/attack]
    {MELEE_ANIM "mace" mace.ogg mace-miss.ogg}
[/unit_type]
