#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Peasant Pitchfork3
    #textdomain wesnoth-units 
    name= _ "Spear Warrior"
    #textdomain wesnoth-Mordak
    race=human
    gender=male
    image="units/knights/peasant-pitchfork3.png"
    hitpoints=46
    movement_type=smallfoot
    movement=5
    experience=100
    level=2
    alignment=lawful
    advances_to=null 
    {AMLA_DEFAULT}
    cost=27
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/knights/peasant-pitchfork3.png" "units/knights/peasant-pitchfork3.png" {SOUND_LIST:HUMAN_HIT}}

    [attack]
        name=spear
        #textdomain wesnoth-units 
        description=_"spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=9
        number=3
    [/attack]
[/unit_type]
