#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Peasant Scythe2
    #textdomain wesnoth-units 
    name= _ "Infantryman"
    #textdomain wesnoth-Mordak
    race=human
    ignore_race_traits=yes 
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    gender=male
    image="units/knights/peasant-scythe2.png"
    hitpoints=36
    movement_type=smallfoot
    movement=5
    experience=37
    level=1
    alignment=lawful
    advances_to=Mordak Peasant Scythe3
    cost=11
    usage=fighter
    description= _ "A foot soldier from the settlements under the Order's protection, armed with a war scythe. Such weapons were once tools of the field, but have long been adapted for war. Scythemen are few, yet the cavalry could not hold conquered ground without them."
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/knights/peasant-scythe2.png" "units/knights/peasant-scythe2.png" {SOUND_LIST:HUMAN_HIT}}

    [attack]
        name=battle scythe
        #textdomain wesnoth-units 
        description=_"battle scythe"
        icon=attacks/scarab-horn.png
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]

    {MELEE_ANIM "battle scythe" dagger-swish.wav {SOUND_LIST:MISS}}
[/unit_type]
