#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Peasant Scythe3
    #textdomain wesnoth-units 
    name= _ "Guisarmier"
    #textdomain wesnoth-Mordak
    race=human
    gender=male
    image="units/knights/peasant-scythe3.png"
    hitpoints=46
    movement_type=smallfoot
    movement=5
    experience=100
    level=2
    alignment=lawful
    advances_to=null 
    {AMLA_DEFAULT}
    cost=27
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/knights/peasant-scythe3.png" "units/knights/peasant-scythe3.png" {SOUND_LIST:HUMAN_HIT}}

    [attack]
        name=guisarme
        #textdomain wesnoth-units 
        description=_"guisarme"
        icon=attacks/glaive.png
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]

    {MELEE_ANIM guisarme axe.ogg {SOUND_LIST:MISS}}
[/unit_type]
