#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Random Peasant 
    #textdomain wesnoth-units 
    name= _ "Peasant"
    #textdomain wesnoth-Mordak
    race=human
    gender=male
    hide_help=yes
    image="units/knights/peasant.png"
    hitpoints=18
    movement_type=smallfoot
    movement=5
    experience=23
    level=0
    alignment=lawful
    [abilities]
        {ABILITY_MORDAK_RANDOM_RECRUIT_VAR (Mordak Peasant Club,Mordak Peasant Pitchfork,Mordak Peasant Scythe)}
    [/abilities]
    advances_to=Mordak Peasant Club2,Mordak Peasant Pitchfork2,Mordak Peasant Scythe2
    cost=10
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    [attack]
        name=club
        #textdomain wesnoth-units 
        description=_"club"
        icon=attacks/club.png
        type=impact
        range=melee
        damage=7
        number=2
        [specials]
            {WEAPON_SPECIAL_MORDAK_VAR 1}
        [/specials]
    [/attack]
    [attack]
        name=pitchfork
        description=_"pitchfork"
        icon=attacks/pitchfork.png
        type=pierce
        range=melee
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_MORDAK_VAR 2}
        [/specials]
    [/attack]
    [attack]
        name=scythe
        description=_"scythe"
        icon=attacks/scythe.png
        type=blade
        range=melee
        damage=4
        number=4
        [specials]
            {WEAPON_SPECIAL_MORDAK_VAR 3}
        [/specials]
    [/attack]
[/unit_type]
