#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Peasant Club
    #textdomain wesnoth-units 
    name= _ "Peasant"
    #textdomain wesnoth-Mordak
    race=human
    gender=male
    image="units/knights/peasant-club.png"
    hitpoints=18
    movement_type=smallfoot
    movement=5
    experience=23
    level=0
    alignment=lawful
    advances_to=Mordak Peasant Club2,Mordak Peasant Pitchfork2,Mordak Peasant Scythe2
    cost=10
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/knights/peasant-club.png" "units/knights/peasant-club.png" {SOUND_LIST:HUMAN_HIT}}

    [attack]
        name=club
        #textdomain wesnoth-units 
        description=_"club"
        icon=attacks/club.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]
[/unit_type]
