#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Peasant
    #textdomain wesnoth-units 
    name= _ "Peasant"
    #textdomain wesnoth-Mordak
    race=human
    gender=male
    image="units/knights/peasant.png"
    hitpoints=18
    movement_type=smallfoot
    movement=5
    experience=23
    level=0
    alignment=lawful
    advances_to=Mordak Peasant Club2,Mordak Peasant Pitchfork2,Mordak Peasant Scythe2
    cost=10
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/knights/peasant.png" "units/knights/peasant.png" {SOUND_LIST:HUMAN_HIT}}

    [attack]
        name=scythe
        #textdomain wesnoth-units 
        description=_"scythe"
        icon=attacks/scythe.png
        type=blade
        range=melee
        damage=3
        number=4
    [/attack]
[/unit_type]
