#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Peasant Scythe4
    #textdomain wesnoth-units 
    name= _ "Steelclad"
    #textdomain wesnoth-Mordak
    race=human
    ignore_race_traits=yes 
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    gender=male
    image="units/knights/peasant-scythe4.png"
    hitpoints=63
    movement_type=smallfoot
    [resistance]
        blade=70
        pierce=70
    [/resistance]
    movement=5
    experience=150
    level=3
    alignment=lawful
    advances_to=null 
    {AMLA_DEFAULT}
    cost=40
    usage=fighter
    description= _ "A Swordsman who has earned a knightly title through service and deeds in battle. Along with his new rank, he receives heavy armour and a two-handed sword. Steelclads do not take part in mounted charges, but their strength is invaluable wherever knights must leave their horses and fight on foot."
    [special_note]
        note= _ "Compared to the other Order's infantry, Steelclad have better resistance to ‘blade’ and ‘pierce’ attacks."
    [/special_note]
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/knights/peasant-scythe4.png" "units/knights/peasant-scythe4.png" {SOUND_LIST:HUMAN_HIT}}

    [attack]
        name=sword blade
        #textdomain wesnoth-units 
        description=_"greatsword"
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=13
        number=3
        [specials]
            {WEAPON_SPECIAL_MORDAK_ZEAL}
        [/specials]
    [/attack]
    [attack]
        name=sword pierce
        #textdomain wesnoth-units 
        description=_"greatsword"
        icon=attacks/greatsword-human.png
        type=pierce
        range=melee
        damage=17
        number=2
        [specials]
            {WEAPON_SPECIAL_MORDAK_ZEAL}
        [/specials]
    [/attack]

    {MELEE_ANIM (sword blade) {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS}}
    {MELEE_ANIM (sword pierce) spear.ogg {SOUND_LIST:MISS}}
[/unit_type]
