#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Peasant Scythe3
    #textdomain wesnoth-units 
    name= _ "Swordsman"
    #textdomain wesnoth-Mordak
    race=human
    ignore_race_traits=yes 
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    gender=male
    image="units/knights/peasant-scythe3.png"
    hitpoints=48
    movement_type=smallfoot
    [resistance]
        blade=90 
        pierce=90 
    [/resistance]
    movement=5
    experience=70
    level=2
    alignment=lawful
    advances_to=Mordak Peasant Scythe4
    {AMLA_DEFAULT}
    cost=25
    usage=fighter
    description= _ "An infantryman who has received proper military equipment and training. Swordsmen cannot match the speed or striking power of the cavalry, but they are the ones who must often hold the ground seized by it."
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/knights/peasant-scythe3.png" "units/knights/peasant-scythe3.png" {SOUND_LIST:HUMAN_HIT}}

    [attack]
        name=sword
        #textdomain wesnoth-units 
        description=_"sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_MORDAK_ZEAL}
        [/specials]
    [/attack]

    {MELEE_ANIM sword {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS}}
[/unit_type]
