#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Peasant Pitchfork
    #textdomain wesnoth-units 
    name= _ "Peasant"
    #textdomain wesnoth-Mordak
    race=human
    gender=male
    image="units/knights/peasant-pitchfork.png"
    hitpoints=18
    movement_type=smallfoot
    movement=5
    experience=23
    level=0
    alignment=lawful
    advances_to=Mordak Peasant Club2,Mordak Peasant Pitchfork2,Mordak Peasant Scythe2
    cost=10
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/knights/peasant-pitchfork.png" "units/knights/peasant-pitchfork.png" {SOUND_LIST:HUMAN_HIT}}

    [attack]
        name=pitchfork
        #textdomain wesnoth-units 
        description=_"pitchfork"
        icon=attacks/pitchfork.png
        type=pierce
        range=melee
        damage=5
        number=3
    [/attack]
[/unit_type]
