#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Peasant Scythe
    #textdomain wesnoth-units 
    name= _ "Scytheman"
    #textdomain wesnoth-Mordak
    race=human
    {TRAIT_MORDAK_HARDWORKING}
    gender=male
    image="units/knights/peasant-scythe.png"
    hitpoints=24
    movement_type=smallfoot
    movement=5
    experience=23
    level=0
    alignment=lawful
    advances_to=Mordak Peasant Club2,Mordak Peasant Pitchfork2,Mordak Peasant Scythe2
    cost=10
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/knights/peasant-scythe.png" "units/knights/peasant-scythe.png" {SOUND_LIST:HUMAN_HIT}}

    [attack]
        name=scythe
        #textdomain wesnoth-units 
        description=_"scythe"
        icon=attacks/scythe.png
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]

    {MELEE_ANIM scythe dagger-swish.wav {SOUND_LIST:MISS}}
[/unit_type]
