#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Peasant Pitchfork2
    #textdomain wesnoth-units 
    name= _ "Spear Peasant"
    #textdomain wesnoth-Mordak
    race=human
    gender=male
    image="units/knights/peasant-pitchfork2.png"
    hitpoints=29
    movement_type=smallfoot
    movement=5
    experience=37
    level=1
    alignment=lawful
    advances_to=Mordak Peasant Pitchfork3
    cost=14
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/knights/peasant-pitchfork2.png" "units/knights/peasant-pitchfork2.png" {SOUND_LIST:HUMAN_HIT}}

    [attack]
        name=spear
        #textdomain wesnoth-units 
        description=_"spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=7
        number=3
    [/attack]
[/unit_type]
