#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Reiter2
    name= _ "Veteran Reiter"
    race=human
    gender=male
    image="units/knights/reiter2.png"
    hitpoints=48
    movement_type=mounted
    movement=8
    experience=79
    level=2
    alignment=lawful
    advances_to=Mordak Reiter3
    cost=36
    usage=archer
    description= _ ""
    die_sound=horse-die.ogg

    {DEFENSE_ANIM "units/knights/reiter2.png" "units/knights/reiter2.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=dagger
        #textdomain wesnoth-units 
        description=_"short sword"
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-iron.png
        type=pierce
        range=ranged
        damage=26
        number=1
    [/attack]
[/unit_type]
