#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Reiter3
    name= _ "Grand Reiter"
    race=human
    gender=male
    image="units/knights/reiter3.png"
    hitpoints=69
    movement_type=mounted
    movement=8
    experience=150
    level=3
    alignment=lawful
    advances_to=null 
    {AMLA_DEFAULT}
    cost=56
    usage=archer
    description= _ ""
    die_sound=horse-die.ogg

    {DEFENSE_ANIM "units/knights/reiter3.png" "units/knights/reiter3.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=dagger
        #textdomain wesnoth-units 
        description=_"short sword"
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-iron.png
        type=pierce
        range=ranged
        damage=35
        number=1
    [/attack]
[/unit_type]
