#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Sergeant
    #textdomain wesnoth-units 
    name= _ "Rider"
    #textdomain wesnoth-Mordak
    race=human
    gender=male
    image="units/knights/sergeant.png"
    hitpoints=34
    movement_type=mounted
    movement=8
    experience=43
    level=1
    [abilities]
        {ABILITY_MORDAK_CAVALRY}
    [/abilities]
    alignment=lawful
    advances_to=Mordak Sergeant2
    cost=18
    usage=scout
    description= _ ""
    die_sound=horse-die.ogg

    {DEFENSE_ANIM "units/knights/sergeant.png" "units/knights/sergeant.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=flail
        #textdomain wesnoth-units 
        description=_"flail"
        icon=attacks/mace-and-chain.png
        type=impact
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_KNIGHT_ARMORBREAK}
        [/specials]
    [/attack]

    {MELEE_MOUNTED_ANIM "flail" horse-canter.wav flail.ogg flail-miss.ogg}
[/unit_type]
