#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Sergeant3
    #textdomain wesnoth-units 
    name= _ "Grand Sergeant"
    #textdomain wesnoth-Mordak
    race=human
    gender=male
    image="units/knights/sergeant3.png"
    hitpoints=71
    movement_type=mounted
    movement=8
    experience=150
    level=3
    alignment=lawful
    advances_to=null 
    {AMLA_DEFAULT}
    cost=51
    usage=scout
    description= _ ""
    die_sound=horse-die.ogg

    {DEFENSE_ANIM "units/knights/sergeant3.png" "units/knights/sergeant3.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=mace
        #textdomain wesnoth-units 
        description=_"mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=14
        number=3
    [/attack]
[/unit_type]
