#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak_Order_Rider_Hardened_Rider
    #textdomain wesnoth-units 
    name= _ "Hardened Rider"
    #textdomain wesnoth-Mordak
    race=human
    gender=male
    image="units/knights/sergeant2.png"
    hitpoints=57
    movement_type=mounted
    movement=8
    experience=81
    level=2
    [abilities]
        {ABILITY_MORDAK_CAVALRY}
    [/abilities]
    alignment=lawful
    advances_to=Mordak Sergeant3
    cost=34
    usage=scout
    description= _ "An experienced rider who has earned a place among the Order's shock cavalry. Hardened riders can follow knights into battle and strike the enemy in the aftermath of the first clash. When the ranks of the knights are thin, they take part in their charges."
    die_sound=horse-die.ogg

    {DEFENSE_ANIM "units/knights/sergeant2.png" "units/knights/sergeant2.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=flail
        #textdomain wesnoth-units 
        description=_"flail"
        icon=attacks/mace-and-chain.png
        type=impact
        range=melee
        damage=9
        number=3
    [/attack]
    {MELEE_MOUNTED_ANIM "flail" horse-canter.wav flail.ogg flail-miss.ogg}
[/unit_type]
