#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Sergeant3
    #textdomain wesnoth-units 
    name= _ "Cuirassier"
    #textdomain wesnoth-Mordak
    race=human
    gender=male
    image="units/knights/sergeant3.png"
    hitpoints=71
    movement_type=mounted
    movement=8
    experience=150
    level=3
    [abilities]
        {ABILITY_MORDAK_CAVALRY}
    [/abilities]
    alignment=lawful
    advances_to=null 
    {AMLA_DEFAULT}
    cost=51
    usage=scout
    description= _ "An unlanded brother-at-arms to the knights, trained in the same school of war but granted no knightly title. Cuirassiers wear heavy armour and fight in the front ranks, shoulder to shoulder with their lords. On the battlefield, the distinction between them and the knights nearly disappears."
    die_sound=horse-die.ogg

    {DEFENSE_ANIM "units/knights/sergeant3.png" "units/knights/sergeant3.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=flail
        #textdomain wesnoth-units 
        description=_"flail"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=14
        number=3
    [/attack]
    {MELEE_MOUNTED_ANIM "flail" horse-canter.wav flail.ogg flail-miss.ogg}
[/unit_type]
