#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Order Standart Bearer
    name= _ "Standart Bearer"
    race=human
    gender=male
    image="units/knights/bannerer.png"
    hitpoints=60
    movement_type=mounted
    [resistance]
        pierce=110
        blade=70 
        impact=60
    [/resistance]
    movement=8
    experience=110
    level=2
    [abilities]
        {ABILITY_MORDAK_CAVALRY}
        {ABILITY_MORDAK_LIGHT_OATH}
    [/abilities]
    alignment=lawful
    advances_to=null 
    {AMLA_DEFAULT}
    cost=36
    usage=fighter
    description= _ ""
    die_sound=horse-die.ogg

    {DEFENSE_ANIM "units/knights/bannerer.png" "units/knights/bannerer.png" {SOUND_LIST:HORSE_HIT}}

    [attack]
        name=standart
        description=_"standart"
        icon=attacks/staff-elven-star.png
        type=blade
        range=melee
        damage=12
        number=2
    [/attack]

    {MELEE_MOUNTED_ANIM standart horse-canter.wav axe.ogg {SOUND_LIST:MISS}}
[/unit_type]
