#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Tower Wyrm
    name= _ "Tower Wyrm"
    race=monster
    num_traits=2 
    {TRAIT_ELEMENTAL}
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    gender=male
    image="units/knights/wyrm.png"
    hitpoints=28
    movement_type=drakeglide2
    [defense]
        catle=30 
    [/defense]
    movement=6
    experience=38
    level=1
    alignment=lawful
    advances_to=Mordak Battle Wyrm
    cost=20
    usage=scout
    description= _ "A young wyrm dwelling among the old towers of Maghre. Baran, brother to the founder of the Order, once refused to exterminate these creatures and instead left them in the most remote parts of the fortress. In time, the wyrms grew accustomed to mankind and became part of the garrison."
    die_sound=hiss-die.ogg

    {DEFENSE_ANIM "units/knights/wyrm.png" "units/knights/wyrm.png" hiss-hit.wav}
    {FLOAT_STANDING_ANIM}

    [attack]
        name=bite
        #textdomain wesnoth-units 
        description=_"bite"
        icon=attacks/fangs-snake.png
        type=blade
        range=melee
        damage=6
        number=1
    [/attack]
    [attack]
        name=fire breath
        description=_"fire breath"
        icon=attacks/fire-breath-drake.png
        type=fire
        range=ranged
        damage=5
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    {MELEE_ANIM "bite" bite.ogg {SOUND_LIST:MISS}}
    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]
        missile_start_time=-300
        [missile_frame]
            halo=projectiles/fire-breath-[1~10].png:[70*10]
            offset=0.0~1.0:300,1.0:350
        [/missile_frame]

        offset=0.0
        start_time=-300
        [frame]
            image="units/knights/wyrm.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS fire.wav torch.ogg -150}
    [/attack_anim]
[/unit_type]
