#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Castle Keeper
    name= _ "Citadel Guard"
    race=monster
    num_traits=2 
    {TRAIT_ELEMENTAL}
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    gender=male
    image="units/knights/wyrm3.png"
    hitpoints=63
    movement_type=drakeglide2
    movement=6
    [defense]
        catle=30 
    [/defense]
    experience=150 
    advances_to=null 
    {AMLA_DEFAULT}
    level=3
    alignment=lawful
    cost=49
    usage=scout
    description= _ "The oldest of Maghre's wyrms, entrusted with guarding the inner fortifications of the citadel. Such creatures live long enough to see generations of men come and go. Some, it is said, remember the days when Maghre belonged to other masters."
    die_sound=drake-die.ogg

    {DEFENSE_ANIM "units/knights/wyrm3.png" "units/knights/wyrm3.png" {SOUND_LIST:DRAKE_HIT}}

    [attack]
        name=bite
        #textdomain wesnoth-units 
        description=_"bite"
        icon=attacks/fangs-snake.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=tail
        #textdomain wesnoth-units 
        description=_"tail"
        icon=attacks/tail-dragon.png
        type=impact
        range=melee
        damage=12
        number=2
    [/attack]
    [attack]
        name=fire breath
        description=_"fire breath"
        icon=attacks/fire-breath-drake.png
        type=fire
        range=ranged
        damage=10
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    {MELEE_ANIM "bite" bite.ogg {SOUND_LIST:MISS}}
    {MELEE_ANIM "tail" club.ogg tail.ogg}
    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]
        {MISSILE_FRAME_FIRE_BREATH 32,-21 32,17 38,-5 32,9}
        start_time=-500
        [frame]
            duration=450
        [/frame]
        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -400}
    [/attack_anim]
[/unit_type]
