#textdomain wesnoth-Mordak
#define ABILITY_MORDAK_RANDOM_RECRUIT_VAR VAR_IDS
    [dummy]
        id=mordak_random_recruit_var
        name= _ "random variations"
        description= _ "A recruited fighter will have one of the following attack options:"
    [/dummy]
    [/abilities]
    [event]
        name=prerecruit
        first_time_only=no

        [filter]
            ability=mordak_random_recruit_var
        [/filter]

        {VARIABLE_OP recruited_unit_random_variation rand {VAR_IDS}}

        {TRANSFORM_UNIT (find_in=unit) ($recruited_unit_random_variation)}
        {FULL_HEAL find_in=unit}
        {CLEAR_VARIABLE recruited_unit_random_variation}
    [/event]
    [+abilities]
#enddef
#define ABILITY_MORDAK_CAVALRY
    [dummy]
        id=mordak_cavalry
        name= _ "cavalry" 
        description= _ ""
    [/dummy]
#enddef
#define ABILITY_LAST_OATH
    [dummy]
        id=mordak_last_oath
        name= _ "Last Oath"
        description= _ "When every banner has fallen, I shall remain.

After slaying an enemy, this unit survives the first fatal blow until the beginning of its next turn, remaining alive with 1 hitpoint."
    [/dummy]
    [/abilities]
    [event]
        name=last breath
        id=revive_event_knight
        first_time_only=no
        [filter]
            ability=mordak_last_oath_ready
        [/filter]
        {MODIFY_UNIT find_in=unit hitpoints 0}
            [heal_unit]
                [filter]
                    id=$unit.id
                [/filter]
                amount="$($unit.max_hitpoints| * 0.5)"
                animate=yes
                restore_statuses=no
            [/heal_unit]
        [/event]
        [event]
        name=die 
        first_time_only=no 
        id=last_oath_activation 

            [filter_second]
                ability=mordak_last_oath 
            [/filter_second]

            [object]
                duration=turn 
                [filter]
                    find_in=second_unit 
                [/filter]
                [effect]
                    apply_to=new_ability 
                    [abilities]
                        [dummy]
                            id=mordak_last_oath_ready
                            name= _ "" 
                            description= _ ""
                        [/dummy]
                    [/abilities]
                [/effect]
                [effect]
                    apply_to=halo
                    halo=halo/elven/elven-shield-halo-80pct.png
                [/effect]
            [/object]
        [/event]
    [+abilities]
#enddef