#textdomain wesnoth-Mordak
#define WEAPON_SPECIAL_MORDAK_VAR VAR_NUMBER
    [dummy]
        id=mordak_variant_{VAR_NUMBER}
        name= _ "variant" + _" {VAR_NUMBER}"
        description= _ ""
    [/dummy]
#enddef
