#textdomain wesnoth-Mordak
#define WEAPON_SPECIAL_MORDAK_VAR VAR_NUMBER
    [dummy]
        id=mordak_variant_{VAR_NUMBER}
        name= _ "variant" + _" {VAR_NUMBER}"
        description= _ ""
    [/dummy]
#enddef
#define WEAPON_SPECIAL_MORDAK_CAVALRY_WEDGE
    # Canned definition of the Charge ability to be included in a
    # [specials] clause.
    [dummy]
        id=mordak_cavalry_wedge
        name= _ "cavalry wedge"
        description= _ "The damage multiplier for damage dealt and received by this attack increases by 1 for each allied mounted unit nearby, up to 4x."
        special_note= _ "This unit is capable of launching a wedge attack with the support of other cavalry."
    [/dummy]
    [damage]
        id=mordak_cavalry_wedge1
        name= _ ""
        description= _ ""
        multiply=2
        apply_to=both
        active_on=offense
        [filter_self]
            [filter_adjacent]
                ability=mordak_cavalry
                is_enemy=no
                count=1
                [not]
                    id=$other_unit.id
                [/not]
            [/filter_adjacent]
        [/filter_self]
    [/damage]
    [damage]
        id=mordak_cavalry_wedge2
        name= _ ""
        description= _ ""
        multiply=3
        apply_to=both
        active_on=offense
        [filter_self]
            [filter_adjacent]
                ability=mordak_cavalry
                is_enemy=no
                count=2
                [not]
                    id=$other_unit.id
                [/not]
            [/filter_adjacent]
        [/filter_self]
    [/damage]
    [damage]
        id=mordak_cavalry_wedge3
        name= _ ""
        description= _ ""
        multiply=4
        apply_to=both
        active_on=offense
        [filter_self]
            [filter_adjacent]
                ability=mordak_cavalry
                is_enemy=no
                count=3-6
                [not]
                    id=$other_unit.id
                [/not]
            [/filter_adjacent]
        [/filter_self]
    [/damage]
#enddef

#define WEAPON_SPECIAL_MORDAK_DESPERATE_STRIKE
    [attacks]
        id=mordak_desperate_strike
        name= _ "desperate strike"
        description= _ "This unit has a mockery ability: when its enemy misses, thisattack gains one strike. Extra strikes reset when this unit's side's turn ends."
        add="(self.wml_vars.mockery_buff)"
        # on purpose avoided using active_on=offense because then you don't see
        # accumulated strikes before this unit's turn (when the special gets active)
        # so for UI QoL let it be active on both but add explicit attack only
    [/attacks]
    [disable]
        id=mordak_desperate_strike_attack_only
        name=_"attack only"
        description=_"This attack can only be used offensively."
        active_on=defense
    [/disable]
#enddef

#define WEAPON_SPECIAL_MORDAK_SIEGECRAFT
    [chance_to_hit]
        id=mordak_siegecraft
        name= _ "siegecraft"
        add=20 
        cumulative=yes
        apply_to=self 
        [filter_opponent]
            [filter_location]
                terrain=*^V*,C*,K*
            [/filter_location]
        [/filter_opponent]
        description= _ "This attack gains a 20% accuracy bonus against enemies in castles and villages.

" + _ "<i>No wall shall shield them from the Order's vengeance.</i>"
        special_note= _ "This unit's attacks receive a bonus to accuracy against enemies located in castles and villages."
    [/chance_to_hit]
#enddef
#define WEAPON_SPECIAL_MORDAK_SUN_MAGIC
    [disable]
        id=mordak_sun_magic
        name= _ "sun magic"
        apply_to=self 
        [filter_self]
            [filter_location]
                [not]
                    time_of_day=lawful 
                [/not]
            [/filter_location]
        [/filter_self]
        description= _ "This attack is imbued with the magic of the sun and can only be used during the daytime."
        special_note= _ "This unit has a special attack that can only be used during the daytime."
    [/disable]
#enddef
