#define MELEE_ANIM NAME SOUND_HIT SOUND_MISS
    [attack_anim]
        [filter_attack]
            name={NAME}
        [/filter_attack]
        start_time=-200
        [frame]
            duration=300
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_HIT} {SOUND_MISS} -100}
    [/attack_anim]
#enddef
#define MELEE_MOUNTED_ANIM NAME SOUND_MOUNT SOUND_HIT SOUND_MISS
    [attack_anim]
        [filter_attack]
            name={NAME}
        [/filter_attack]
        start_time=-200
        [frame]
            duration=300
            sound={SOUND_MOUNT}
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_HIT} {SOUND_MISS} -100}
    [/attack_anim]
#enddef

#define MOVEMENT_SOUND SOUND
    [movement_anim]
        [frame]
            duration=300
            sound={SOUND}
        [/frame]
    [/movement_anim]
#enddef

