#define MELEE_ANIM NAME SOUND_HIT SOUND_MISS
    [attack_anim]
        [filter_attack]
            name={NAME}
        [/filter_attack]
        start_time=-200
        [frame]
            duration=300
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_HIT} {SOUND_MISS} -100}
    [/attack_anim]
#enddef
#define MELEE_MOUNTED_ANIM NAME SOUND_MOUNT SOUND_HIT SOUND_MISS
    [attack_anim]
        [filter_attack]
            name={NAME}
        [/filter_attack]
        start_time=-200
        [frame]
            duration=300
            sound={SOUND_MOUNT}
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_HIT} {SOUND_MISS} -100}
    [/attack_anim]
#enddef

#define MOVEMENT_SOUND SOUND
    [movement_anim]
        [frame]
            duration=300
            sound={SOUND}
        [/frame]
    [/movement_anim]
#enddef

#define CROSSBOW_ANIM ATTACK_NAME
    [attack_anim]
        [filter_attack]
            name={ATTACK_NAME}
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-250
        {SOUND:HIT_AND_MISS crossbow.ogg crossbow-miss.ogg -200}
        [frame]
            durarion=250
        [/frame]
    [/attack_anim]
#enddef

#define CANNON_ANIM NAME SOUND_HIT SOUND_MISS EXPLOSION
    [attack_anim]
        [filter_attack]
            name={NAME}
        [/filter_attack]
        missile_start_time=0
        sling_stone_start_time=-800
        start_time=-800

        missile_thunderstick_start_time=-800
#        missile_thunderstick_offset=0.5~1.1:250,1.1~1.5:200,1.5~1.7:360
        missile_thunderstick_halo_x=24~50:250,50~75:200,75~85:360,85
        missile_thunderstick_halo_y=-24~-50:250,-50~-75:200,-75~-85:360,-85
        [missile_thunderstick_frame]
            halo="projectiles/muzzle-flash-ne-[1~3].png:[100,80,70],projectiles/muzzle-flash-[4~14].png:60"
            auto_vflip=no
            offset=0.0
        [/missile_thunderstick_frame]

        [if]
            hits=yes
            [sling_stone_frame]
                halo="projectiles/stone-large.png:800"
                halo_mod="~SCALE(144,144)"
                halo_x=24~0
                halo_y=0~-10,-10~-18,-18~-22,-22~-24,-24~-25,-25~-24,-24~-22,-22~-18,-18~-10,-10~-0
                offset=0.0~1.0
            [/sling_stone_frame]

            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png":60
                offset=1.0
                auto_vflip=no
            [/missile_frame]
        [frame]
            duration=800
            sound={SOUND_HIT}
            offset=0.0~-0.2:50,-0.2~0.0:300,0
        [/frame]
        [frame]
            duration=500
            sound={EXPLOSION}
        [/frame]
        [/if]
        [else]
            hits=no
            [sling_stone_frame]
                halo="projectiles/stone-large.png:800"
                halo_mod="~SCALE(144,144)"
                halo_x=24~0
                halo_y=0~-10,-10~-16,-16~-20,-20~-22,-22~-20,-20~-16,-16~-10,-10~0,0~-4,-4~0,0~-2,-2~0
                offset=0.0~1.5
            [/sling_stone_frame]

            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png":60
                offset=1.5
                auto_vflip=no
            [/missile_frame]

            [frame]
                duration=800
                sound={SOUND_MISS}
                offset=0.0~-0.2:50,-0.2~0.0:300,0
            [/frame]
        [/else]
    [/attack_anim]
#enddef



