#textdomain wesnoth-Mordak
#define TRAIT_MORDAK_HARDWORKING
    [trait]
        id=mordak_hardworking
        male_name= _ "hadrworking"
        availability="musthave"
        female_name= _ "female^hardworking"
        help_text= _ ""
        [effect]
            apply_to=hitpoints
            increase_total=2
        [/effect]
    [/trait]
#enddef