#textdomain wesnoth-Mordak
#define ABILITY_MORDAK_RANDOM_RECRUIT_VAR VAR_IDS
    [dummy]
        id=mordak_random_recruit_var
        name= _ "random variations"
        description= _ "A recruited fighter will have one of the following attack options:"
    [/dummy]
    [/abilities]
    [event]
        name=prerecruit
        first_time_only=no

        [filter]
            ability=mordak_random_recruit_var
        [/filter]

        {VARIABLE_OP recruited_unit_random_variation rand {VAR_IDS}}

        {TRANSFORM_UNIT (find_in=unit) ($recruited_unit_random_variation)}
        {FULL_HEAL find_in=unit}
        {CLEAR_VARIABLE recruited_unit_random_variation}
    [/event]
    [+abilities]
#enddef
#define ABILITY_MORDAK_CAVALRY
    [dummy]
        id=mordak_cavalry
        name= _ "cavalry" 
        description= _ ""
    [/dummy]
#enddef
#define ABILITY_LAST_OATH
    [dummy]
        id=mordak_last_oath
        name= _ "Last Oath"
        description= _ "When every banner has fallen, I shall remain.

After slaying an enemy, this unit survives the first fatal blow until the beginning of its next turn, remaining alive with 1 hitpoint."
    [/dummy]
    [/abilities]
    [event]
        name=last breath
        id=revive_event_knight
        first_time_only=no
        [filter]
            ability=mordak_last_oath_ready
        [/filter]
        {MODIFY_UNIT find_in=unit hitpoints 0}
            [heal_unit]
                [filter]
                    id=$unit.id
                [/filter]
                amount="$($unit.max_hitpoints| * 0.5)"
                animate=yes
                restore_statuses=no
            [/heal_unit]
        [/event]
        [event]
        name=die 
        first_time_only=no 
        id=last_oath_activation 

            [filter_second]
                ability=mordak_last_oath 
            [/filter_second]

            [object]
                duration=turn 
                [filter]
                    find_in=second_unit 
                [/filter]
                [effect]
                    apply_to=new_ability 
                    [abilities]
                        [dummy]
                            id=mordak_last_oath_ready
                            name= _ "" 
                            description= _ ""
                        [/dummy]
                    [/abilities]
                [/effect]
                [effect]
                    apply_to=halo
                    halo=halo/elven/elven-shield-halo-80pct.png
                [/effect]
            [/object]
        [/event]
    [+abilities]
#enddef
#define ABILITY_KNIGHT_ARMORBROKEN NUMBER
    # Canned definition of the Steadfast ability to be included in an [abilities]
    # clause.
    [resistance]
        id=knight_armorbroken
        sub={NUMBER}
        max_value=100
        # applies to any type if we leave it out
        apply_to=blade,pierce
        [filter_base_value]
            less_than=100
        [/filter_base_value]
        name=_"broken armor "+{NUMBER}
        description=_"This unit’s physical resistances are reduced by "+{NUMBER}+_"%. This effect disappears after a turn."
        affect_self=yes
    [/resistance]
#enddef

#define WEAPON_SPECIAL_KNIGHT_ARMORBREAK
# wmlindent: start ignoring
# wmlxgettext: [attack]
# wmlxgettext: [specials]

# wmlindent: stop ignoring
    [dummy]
        id=knight_armorbreak
        name=_"armorbreak"
        description=_ "On hit, this attack reduces the enemy's blade and pierce resistances by 10% for one turn."
    [/dummy]
[/specials]
# wmlindent: start ignoring
[/attack]
# wmlindent: stop ignoring

[event]
    name=attacker_hits
    id=knight_armorbreak_event1
    first_time_only=no

    [filter_attack]
        special_id=knight_armorbreak
    [/filter_attack]

    [if]
    [have_unit]
         id=$second_unit.id
         ability=knight_armorbroken
    [/have_unit]
    [else]

[floating_text]
   x,y=$x2,$y2
   text="<span color='#ff7e00'>armor broken</span>"
[/floating_text]

    [object]
        silent=yes
        duration=scenario

        [filter]
            id=$second_unit.id
        [/filter]

        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_KNIGHT_ARMORBROKEN 10}
            [/abilities]
        [/effect]
        [effect]
            apply_to=overlay
            add="misc/overlay-armorbroken.png"
        [/effect]
    [/object]

    [/else]
    [/if]
[/event]

[event]
    name=defender_hits
    id=knight_armorbreak_event2
    first_time_only=no

    [filter_second_attack]
        special_id=knight_armorbreak
    [/filter_second_attack]

    [if]
    [have_unit]
         id=$unit.id
         ability=knight_armorbroken
    [/have_unit]
    [else]

[floating_text]
   x,y=$x1,$y1
   text="<span color='#ff7e00'>armor broken</span>"
[/floating_text]


    [object]
        silent=yes
        duration=scenario

        [filter]
            id=$unit.id
        [/filter]

        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_KNIGHT_ARMORBROKEN 10}
            [/abilities]
        [/effect]
        [effect]
            apply_to=overlay
            add="misc/overlay-armorbroken.png"
        [/effect]
    [/object]

    [/else]
    [/if]
[/event]

[event]
    name=side turn end
    id=knight_armorbreaked_side_turn_event
    first_time_only=no

    [store_unit]
        [filter]
            side=$side_number
            ability=knight_armorbroken
        [/filter]
        variable=knight_armorbreaked
    [/store_unit]

    [foreach]
        array=knight_armorbreaked
        index_var=i
        [do]
    {CLEAR_VARIABLE this_item.variables.armorbreak_percentage}

    [object]
        silent=yes
        duration=scenario

        [filter]
            id=$this_item.id
        [/filter]

        [effect]
            apply_to=remove_ability
            [abilities]
              [dummy]
                 id=knight_armorbroken
              [/dummy]
            [/abilities]
        [/effect]
        [effect]
            apply_to=overlay
            remove="misc/overlay-armorbroken.png"
        [/effect]
    [/object]    
        [/do]
    [/foreach]

    {CLEAR_VARIABLE knight_armorbreaked}
[/event]

[+attack]
# wmlindent: start ignoring

[+specials]
# wmlxgettext: [/specials]
# wmlxgettext: [/attack]
# wmlindent: stop ignoring
#enddef