#textdomain wesnoth-Mordak
#define MORDAK_NEGATIVE_STATUSES
    [status]
        poisoned=yes 
    [/status]
    [status]
        slowed=yes 
    [/status]
    [status]
        stunned=yes 
    [/status]
    [status]
        petrified=yes 
    [/status]
#enddef