#textdomain wesnoth-Mordak
#define ABILITY_MORDAK_RANDOM_RECRUIT_VAR VAR_IDS
    [dummy]
        id=mordak_random_recruit_var
        name= _ "random variations"
        description= _ "A recruited fighter will have one of the following attack options:"
    [/dummy]
    [/abilities]
    [event]
        name=prerecruit
        first_time_only=no

        [filter]
            ability=mordak_random_recruit_var
        [/filter]

        {VARIABLE_OP recruited_unit_random_variation rand {VAR_IDS}}

        {TRANSFORM_UNIT (find_in=unit) ($recruited_unit_random_variation)}
        {FULL_HEAL find_in=unit}
        {CLEAR_VARIABLE recruited_unit_random_variation}
    [/event]
    [+abilities]
#enddef
