#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Flower Archer
    name= _ "Archer"
    race=elf
    gender=male
    image="units/flowers/archer.png"
    hitpoints=32
    movement_type=woodland 
    movement=5
    experience=41
    level=1
    alignment=neutral
    advances_to=Mordak Flower Archer2,Mordak Flower Archer2b
    cost=18
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:ELF_HIT}

    {DEFENSE_ANIM "units/flowers/archer.png" "units/flowers/archer.png" {SOUND_LIST:ELF_HIT}}

    [attack]
        name=sword
        #textdomain wesnoth-units 
        description=_"sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=4
        number=2
    [/attack]
    [attack]
        name=bow
        #textdomain wesnoth-units 
        description=_"bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=4
        number=6
    [/attack]

    {MELEE_ANIM "sword" {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS}}
    {BOW_ANIM bow bow.ogg bow-miss.ogg}
[/unit_type]
