#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Flower Archer2
    name= _ "Archer2"
    race=elf
    gender=male
    image="units/flowers/archer2.png"
    hitpoints=43
    movement_type=woodland 
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=Mordak Flower Archer3
    cost=30
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:ELF_HIT}

    {DEFENSE_ANIM "units/flowers/archer2.png" "units/flowers/archer2.png" {SOUND_LIST:ELF_HIT}}

    [attack]
        name=sword
        #textdomain wesnoth-units 
        description=_"sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=bow
        #textdomain wesnoth-units 
        description=_"bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=6
        number=5
        [specials]
            {WEAPON_SPECIAL_MORDAK_ACCURACY_BONUS}
        [/specials]
    [/attack]

    {MELEE_ANIM "sword" {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS}}
    {BOW_ANIM bow bow.ogg bow-miss.ogg}
[/unit_type]
