#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Flower Archer3b
    name= _ "Archer3b"
    race=elf
    gender=male
    image="units/flowers/archer3b.png"
    hitpoints=63
    movement_type=woodland 
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null 
    {AMLA_DEFAULT}
    cost=50
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:ELF_HIT}

    {DEFENSE_ANIM "units/flowers/archer3b.png" "units/flowers/archer3b.png" {SOUND_LIST:ELF_HIT}}

    [attack]
        name=bow
        #textdomain wesnoth-units 
        description=_"great bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=18
        number=3
            [specials]
                {WEAPON_SPECIAL_STRONG_BONUS}
            [/specials]
    [/attack]

    {BOW_ANIM bow bow.ogg bow-miss.ogg}
[/unit_type]
