#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Flower Archer2b
    name= _ "Archer2b"
    race=elf
    gender=male
    image="units/flowers/archer2b.png"
    hitpoints=54
    movement_type=woodland 
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=Mordak Flower Archer3b
    cost=30
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:ELF_HIT}

    {DEFENSE_ANIM "units/flowers/archer2b.png" "units/flowers/archer2b.png" {SOUND_LIST:ELF_HIT}}

    [attack]
        name=bow
        #textdomain wesnoth-units 
        description=_"great bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=12
        number=3
        [specials]
            {WEAPON_SPECIAL_STRONG_BONUS}
        [/specials]
    [/attack]

    {BOW_ANIM bow bow.ogg bow-miss.ogg}
[/unit_type]
