#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Flower Fighter2b
    name= _ "Assassin"
    race=elf
    ignore_race_traits=yes 
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    gender=male
    image="units/elves-wood/ranger-sword.png"
    hitpoints=42
    movement_type=woodland 
    [defense]
        flat=50 
        hills=40 
        shallow_water=60 
        swamp_water=60 
        reef=50 
        sand=60 
        frozen=60 
        mushroom=40 
        cave=60 
    [/defense]
    [movement_costs]
        cave=2
        sand,frozen=2,2 
    [/movement_costs]
    movement=6
    experience=100
    level=2
    alignment=neutral
    advances_to=null 
    {AMLA_DEFAULT}
    cost=30
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:ELF_HIT}

    {DEFENSE_ANIM "units/elves-wood/ranger-sword.png" "units/elves-wood/ranger-sword.png" {SOUND_LIST:ELF_HIT}}

    [attack]
        name=dagger
        #textdomain wesnoth-units 
        description=_"dagger"
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=5
        number=5
        [specials]
            {WEAPON_SPECIAL_MORDAK_COUP_DE_GRACE}
        [/specials]
    [/attack]

    {MELEE_ANIM "dagger" dagger-swish.wav {SOUND_LIST:MISS}}
[/unit_type]
