#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Flower Fighter3
    name= _ "Fighter3"
    race=elf
    ignore_race_traits=yes 
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    gender=male
    image="units/elves-wood/champion.png"
    hitpoints=64
    movement_type=woodland 
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null 
    {AMLA_DEFAULT}
    cost=16
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:ELF_HIT}

    {DEFENSE_ANIM "units/elves-wood/champion.png" "units/elves-wood/champion.png" {SOUND_LIST:ELF_HIT}}

    [attack]
        name=sword
        #textdomain wesnoth-units 
        description=_"sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=8
        number=5
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]

    {MELEE_ANIM "sword" {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS}}
[/unit_type]
