#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Flower Fighter2
    name= _ "Fighter2"
    race=elf
    ignore_race_traits=yes 
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    gender=male
    image="units/flowers/swordsman2.png"
    hitpoints=48
    movement_type=woodland 
    movement=5
    experience=89
    level=2
    alignment=neutral
    advances_to=Mordak Flower Fighter3
    cost=16
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:ELF_HIT}

    {DEFENSE_ANIM "units/flowers/swordsman2.png" "units/flowers/swordsman2.png" {SOUND_LIST:ELF_HIT}}

    [attack]
        name=sword
        #textdomain wesnoth-units 
        description=_"sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=6
        number=5
        [specials]
            {WEAPON_SPECIAL_CHANCE_TO_POISON}
        [/specials]
    [/attack]

    {MELEE_ANIM "sword" {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS}}

    [extra_anim]
        flag=poison
        missile_start_time=0
        [missile_frame]
            duration=300
            image="halo/elven/shaman-heal-halo-4.png"
            image_diagonal="halo/elven/shaman-heal-halo-4.png"
            offset=0.0~1.0:300
        [/missile_frame]
        [frame]
            image="units/flowers/swordsman2.png:100" 
            sound=sword-draw.wav
        [/frame]
    [/extra_anim]
[/unit_type]
