#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Flower Fighter2
    name= _ "Fighter2"
    race=elf
    ignore_race_traits=yes 
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    gender=male
    image="units/elves-wood/hero.png"
    hitpoints=48
    movement_type=woodland 
    movement=5
    experience=89
    level=2
    alignment=neutral
    advances_to=Mordak Flower Fighter3
    cost=16
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:ELF_HIT}

    {DEFENSE_ANIM "units/elves-wood/hero.png" "units/elves-wood/hero.png" {SOUND_LIST:ELF_HIT}}

    [attack]
        name=sword
        #textdomain wesnoth-units 
        description=_"sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=7
        number=5
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]

    {MELEE_ANIM "sword" {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS}}
[/unit_type]
