#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Flower Blessing Incarnation
    name= _ "Blessing Incarnation"
    race=wose
    gender=female
    image="units/flowers/parostok3.png"
    hitpoints=80
    movement_type=treefolk
    movement=6
    [defense]
        shallow_water=70
        reef=70
        swamp_water=60
        flat=70
        sand=70
        forest=50
        hills=60
        mountains=60
        village=70
        castle=70
        cave=70
        frozen=70
        fungus=60
    [/defense]
    experience=150
    level=3
    [abilities]
        {ABILITY_AMBUSH}
        {ABILITY_REGENERATES}
    [/abilities]
    alignment=neutral
    advances_to=null 
    {AMLA_DEFAULT}
    cost=49
    usage=fighter
    description= _ ""
    die_sound=wose-die.ogg

    {DEFENSE_ANIM "units/flowers/parostok3.png" "units/flowers/parostok3.png" wose-hit.ogg}

    [attack]
        name=entangle
        description=_"entangle"
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=15
        number=2
        range=melee
        defense_weight=4.0
    [/attack]
    [attack]
        name=greatsword
        description=_"blessing sword"
        icon=attacks/greatsword-elven.png
        type=blade
        range=melee
        damage=16
        number=3
        [specials]
            {WEAPON_SPECIAL_MORDAK_COUP_DE_GRACE}
        [/specials]
    [/attack]
    [attack]
        name=thorns
        description=_"thorns"
        type=pierce
        damage=5
        number=2
        range=ranged
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]

    {MELEE_ANIM "entangle" entangle.wav entangle.wav}
    {MELEE_ANIM "greatsword" {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS}}
    [attack_anim]
        [filter_attack]
            name=thorns
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            duration=200
            image="projectiles/thorns.png"
            image_diagonal="projectiles/thorns-ne.png"
        [/missile_frame]
        start_time=-250
        [frame]
            image="units/flowers/parostok3.png"
            halo=halo/elven/nature-halo[1~8].png:75
            halo_x,halo_y=0,-12
        [/frame]
        {SOUND:HIT_AND_MISS magic-thorns-[1,2].ogg magic-thorns-miss-[1,2].ogg -100}
    [/attack_anim]
[/unit_type]
