#textdomain wesnoth-Mordak
[unit_type]
    id=Mordak Flower Shaman
    name= _ "Shaman"
    race=elf
    gender=female
    image="units/flowers/shaman.png"
    hitpoints=27
    movement_type=woodland 
    movement=6
    experience=41
    level=1
    alignment=neutral
    advances_to=Mordak Flower Shaman
    cost=18
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}

    {DEFENSE_ANIM "units/flowers/shaman.png" "units/flowers/shaman.png" {SOUND_LIST:ELF_FEMALE_HIT}}

    [attack]
        name=dagger
        #textdomain wesnoth-units 
        description=_"dagger"
        icon=attacks/dagger-orcish.png
        type=blade
        range=melee
        damage=3
        number=2
    [/attack]
    [attack]
        name=bow
        #textdomain wesnoth-units 
        description=_"curse"
        icon=attacks/curse.png
        type=arcane
        range=ranged
        damage=20
        number=1
    [/attack]

    {MELEE_ANIM "dagger"  dagger-swish.wav {SOUND_LIST:MISS}}
[/unit_type]
